.hero {
  // background-color: lavender;
  @include flex(flex-start, center, row);
  //min-height: 80vh;
  width: 93%;
  margin: 0 0 0 auto;
  margin-top: 3rem;
  z-index: -1;
  &__txt {
    flex: 1 1 50%;

    p {
      padding: 2rem 17rem 2rem 0rem;
      //background-color: lightpink;
      margin-bottom: 3rem;
    }
  }
  &__img {
    flex: 1 1 50%;
    //background-color: lightblue;
    img {
      width: 100%;
    }
  }
}
