.car-detail {
  //background-color: lavender;
  width: 85%;
  margin: auto;
  margin: 5rem auto;

  &__info-rental {
    //background-color: lavender;
    width: 100%;
    @include flex(flex-end, flex-end, column);

    .info-rental-box {
      padding: 2.5rem 1.5rem;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      width: 100%;
      .refund {
        margin-top: 3rem;
      }
    }

    button {
      margin-top: 2rem;
      font-weight: bold;
    }
  }

  .info {
    margin: 1rem 1rem;
    //padding: 2.5rem 1.5rem;
    h5 {
      font-weight: bold;
    }
    li {
      color: #8a8a8a;
      margin-left: 2.5rem;
      list-style: disc;
    }
  }

  &__info-mobil {
    //background-color: lightblue;
    max-height: 65vh;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    .info-mobil-name {
      margin: 1rem 0rem;
    }
    .pembayaran-harga {
      //background-color: pink;
      @include flex(flex-start, center, row);
      p {
        flex: 1 1 50%;
      }
    }
    button {
      width: 100%;
      font-weight: bold;
      margin-top: 2rem;
    }
    img {
      margin-top: 2rem;
    }
  }
}
