.car-list {
  //background-color: lightgrey;
  width: 85%;
  margin: auto;
  margin: 5rem auto;

  .card-group {
    @include flex(center, center, row);
    // flex: 1 1 30%;

    .kartu {
      margin: 1.5rem 1.5rem;
      //background-color: lavender;
      min-height: 80vh;
      //@include flex(flex-start, center, column);
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      img {
        width: 100%;
        max-width: 30rem;
        margin-top: 2rem;
        border-radius: 0.3rem;
      }
      .card-body {
        //background-color: rgb(255, 223, 228);
        //margin: 1rem 1.5rem;
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 2rem;
        h4 {
          font-weight: bold;
        }
        p {
          font-weight: 300;
          text-align: justify;
          color: $grey;
        }
      }
      button {
        width: 100%;
        margin-bottom: 1.5rem;
      }
    }
  }
}
