* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica", sans-serif;
}

h1 {
  font-size: 5.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 1.5rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

ul {
  list-style: none;
  font-size: 5.5rem;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

.main {
  background-color: #f1f3ff;
}

.wrapper-nav {
  width: 85%;
  margin: auto;
}

.car-list {
  width: 85%;
  margin: auto;
  margin: 5rem auto;
}

.car-list .card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.car-list .card-group .kartu {
  margin: 1.5rem 1.5rem;
  min-height: 80vh;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.car-list .card-group .kartu img {
  width: 100%;
  max-width: 30rem;
  margin-top: 2rem;
  border-radius: 0.3rem;
}

.car-list .card-group .kartu .card-body {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.car-list .card-group .kartu .card-body h4 {
  font-weight: bold;
}

.car-list .card-group .kartu .card-body p {
  font-weight: 300;
  text-align: justify;
  color: #4b4b4b;
}

.car-list .card-group .kartu button {
  width: 100%;
  margin-bottom: 1.5rem;
}

.car-detail {
  width: 85%;
  margin: auto;
  margin: 5rem auto;
}

.car-detail__info-rental {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car-detail__info-rental .info-rental-box {
  padding: 2.5rem 1.5rem;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  width: 100%;
}

.car-detail__info-rental .info-rental-box .refund {
  margin-top: 3rem;
}

.car-detail__info-rental button {
  margin-top: 2rem;
  font-weight: bold;
}

.car-detail .info {
  margin: 1rem 1rem;
}

.car-detail .info h5 {
  font-weight: bold;
}

.car-detail .info li {
  color: #8a8a8a;
  margin-left: 2.5rem;
  list-style: disc;
}

.car-detail__info-mobil {
  max-height: 65vh;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.car-detail__info-mobil .info-mobil-name {
  margin: 1rem 0rem;
}

.car-detail__info-mobil .pembayaran-harga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.car-detail__info-mobil .pembayaran-harga p {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.car-detail__info-mobil button {
  width: 100%;
  font-weight: bold;
  margin-top: 2rem;
}

.car-detail__info-mobil img {
  margin-top: 2rem;
}

footer {
  background-color: white;
  color: #0f1d40;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8rem;
  margin-top: 3rem;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 85%;
  margin: auto;
  min-height: 15vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .brand,
footer .layanan-kami,
footer .tentang-kami,
footer .alamat {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

footer .temukan {
  margin-top: 3rem;
}

footer .footer-brand {
  font-family: "museo-bold", cursive;
}

footer .footer-title a {
  font-weight: 700;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-logo ul {
  list-style: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
}

footer .footer-logo li {
  margin: 0rem 0.5rem 2rem 0.5rem;
}

footer li {
  margin: 1rem 0rem;
}

footer a {
  font-weight: 500;
}

footer a:hover {
  text-decoration: none;
  color: #0f1d40;
}

footer p {
  padding: 0rem;
  width: 85%;
  margin: auto;
  text-align: center;
  padding-bottom: 1rem;
  color: #a4a9b6;
}

@media screen and (max-width: 670px) {
  .layanan-kami,
  .tentang-kami {
    display: none;
  }
  .footer-ardawalika {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 10vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .nav-rental {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
}

nav .nav-rental h4 {
  font-size: 3rem;
  font-weight: bold;
}

nav .nav-rental h4:hover {
  text-decoration: none;
}

nav .nav-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
}

nav .nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .nav-list li {
  font-weight: bold;
}

button {
  padding: 1rem 1.5rem;
  background-color: #5cb85f;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 93%;
  margin: 0 0 0 auto;
  margin-top: 3rem;
  z-index: -1;
}

.hero__txt {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.hero__txt p {
  padding: 2rem 17rem 2rem 0rem;
  margin-bottom: 3rem;
}

.hero__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.hero__img img {
  width: 100%;
}

.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 50%;
  margin: auto;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
  margin-top: -4rem;
  z-index: 2;
  background-color: #ffffff;
  color: #3c3c3c;
  min-height: 20vh;
  font-weight: 300;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-container .search-box {
  width: 85%;
  margin: 0rem 2rem;
}

.search-container .search-box__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-container .search-box__container select,
.search-container .search-box__container input[type="text"] {
  background: #ffffff;
  border: 1px solid #d0d0d0;
  margin: 0.5rem 2rem 0.5rem 0rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.2rem;
  padding: 0.9rem 1.2rem;
  width: 80%;
  height: 3.6rem;
  font-style: normal;
  font-weight: 300;
  color: #8a8a8a;
}
/*# sourceMappingURL=style.css.map */