footer {
  background-color: white;
  color: $footer-color;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 8rem;
  margin-top: 3rem;

  .footer-container {
    @include flex(space-between, flex-start, row);
    width: 85%;
    margin: auto;
    min-height: 15vh;
    flex-wrap: wrap;
  }

  .brand,
  .layanan-kami,
  .tentang-kami,
  .alamat {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }

  .temukan {
    margin-top: 3rem;
  }
  .footer-brand {
    font-family: "museo-bold", cursive;
  }

  .footer-title {
    a {
      font-weight: 700;
    }
  }

  .footer-logo {
    @include flex(flex-start, center, row); // flex-wrap: wrap;
    ul {
      list-style: none;
      flex: 1 1 40rem;
      justify-content: space-between;
      align-items: center;
      color: gray;
    }
    li {
      margin: 0rem 0.5rem 2rem 0.5rem;
    }
  }

  li {
    margin: 1rem 0rem;
  }

  a {
    font-weight: 500;
  }

  a:hover {
    text-decoration: none;
    color: $footer-color;
  }

  p {
    padding: 0rem;
    width: 85%;
    margin: auto;
    text-align: center;
    padding-bottom: 1rem;
    color: $copyright;
  }
}

// .footer-menu {
//   // x, y
//   @include flex(space-evenly, center, row);
//   flex-wrap: wrap;
//   flex: 1 1 40rem;
//   h4 {
//     margin: 1.2rem 0rem;
//   }
// }

@media screen and (max-width: 670px) {
  footer {
    // text-align: center;
    // .footer-ardawalika {
    //   @include flex(center, center, column);
    // }
  }

  .layanan-kami,
  .tentang-kami {
    //visibility: none;
    display: none;
  }
  .footer-ardawalika {
    @include flex(center, center, column);
    //background-color: gray;
  }
}
