.search-container {
  @include flex(space-evenly, center, row);
  position: relative;
  width: 50%;
  margin: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 0.8rem;
  margin-top: -4rem;
  z-index: 2;
  background-color: #ffffff;
  color: #3c3c3c;
  min-height: 20vh;
  font-weight: 300;
  flex-wrap: wrap;
  //padding: 3rem 2rem 1rem 2rem;
  .search-box {
    //background-color: lavender;
    width: 85%;
    margin: 0rem 2rem;
    &__container {
      //background-color: lavender;
      @include flex(flex-start, center, row);
      select,
      input[type="text"] {
        background: #ffffff;
        border: 1px solid #d0d0d0;
        margin: 0.5rem 2rem 0.5rem 0rem;
        box-sizing: border-box;
        border-radius: 0.2rem;
        padding: 0.9rem 1.2rem;
        width: 80%;
        height: 3.6rem;

        font-style: normal;
        font-weight: 300;
        color: #8a8a8a;
      }
    }
  }
  .cari-mobil {
    // background-color: pink;
  }
}
