nav {
  @include flex(center, center, row);
  min-height: 10vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  .nav-rental {
    flex: 1 1 55%;
    //background-color: lavender;
    h4 {
      font-size: $medium;
      font-weight: bold;
    }
    h4:hover {
      text-decoration: none;
    }
  }
  .nav-list {
    flex: 1 1 45%;
    ul {
      @include flex(space-around, center, row);
    }
    li {
      font-weight: bold;
    }
  }
}

button {
  padding: 1rem 1.5rem;
  background-color: #5cb85f;
  border: none;
  border-radius: 0.2rem;
  color: white;
  cursor: pointer;
}
